  <div class="row">
    <div class="col">
      <h3>Issues</h3>
      {{#each viewData}}
        <ul>
          <div class="issue-container">
            {{this.title}}
          </div>
        </ul>
      {{/each}}
    </div>
    <div class="col" id="notes">
      <h3>Notifications</h3> 
    </div>
  </div>